<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 목록</title>
</head>
<body>
<h1>목록</h1>
<ul>
    <li th:each = "article : ${articleList}" >
<!-- 링크 안에 articleList 제목이 들어가야 하기 때문에 a 태그 안에 넣어준다 -->
<!-- 목적지가 없을 시 javascript:void(0) 넣어준다. 링크는 걸리지만 아무 곳에도 가지 않는다-->
<!-- detail 화면에서 원하는 제목 링크를 누르면 그 제목에 디테일로 가게 바꿔줘야 한다 -->
<!-- 문법 주소를 넣을 때 "@{|주소|}" -->
        <a th:href="@{|/detail?articleId=${article.id}|}" th:text ="${article.title}"></a>
    </li>
</ul>
<a href="/form">등록하기</a>
</body>
</html>

